// HOME INFO
#home-info {
  height: 40rem;

  .info-img {
    float: left;
    width: 50%;
    background: url("../img/photo-1.jpg") no-repeat;
    min-height: 100%;
  }

  .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 5rem 3rem;
    overflow: hidden;

    p {
      padding-bottom: 3rem;
    }
  }
}
